<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle (click)="openMenu()">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Epsick Admin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card class="ft-card" *ngFor="let ft of ftList; let i = index" [attr.data-index]="i">
    <img [src]="ft.mainPictureSecure" class="ft-image"/>
    <div class="ft-content">
      <h1 style="color: rgba(0, 0, 0, 0.54); margin-bottom: 1rem">{{ft.nombre}}</h1>
      <div class="button-container">
        <button ion-button color="secondary" (click)="enterProduction(productionPage, ft.id)" icon-left>
          <ion-icon name='list'></ion-icon>
          Intefáz Producción
        </button>
      </div>
      <div class="button-container">
        <button ion-button color="secondary" (click)="openChangePosition(ft.id)" icon-left>
          <ion-icon name='map'></ion-icon>
          Cambiar Posición
        </button>
      </div>
      <div class="button-container">
        <button ion-button color="secondary" (click)="goManualOrder(ft.id, ft.nombre)" icon-left>
          <ion-icon name='basket'></ion-icon>
          Orden Manual
        </button>
      </div>
      <div class="button-container" *ngIf="!ft.abierto">
        <button ion-button color="secondary" (click)="toggleAbierto(ft.id, true, i)" icon-left>
          <ion-icon name='basket'></ion-icon>
          Abrir FoodTruck
        </button>
      </div>
      <div class="button-container" *ngIf="ft.abierto">
        <button ion-button color="danger" (click)="toggleAbierto(ft.id, false, i)" icon-left>
          <ion-icon name='basket'></ion-icon>
          Cerrar FoodTruck
        </button>
      </div>
    </div>
  </ion-card>
</ion-content>
