page-home {

}

.ft-image {
  height: 400px;
}

.actions-card {
  padding: 0 1rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}