* {
  box-sizing: border-box;
}

.ft-image {
  height: 400px;
}

.actions-card {
  padding: 0 1rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft-card {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
  }

  .ft-content {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }

}

.button-container {
  width: 100%;

  button {
    padding: 2rem;
  }

}